@import url("https://fonts.cdnfonts.com/css/atomos");
@import url("https://fonts.cdnfonts.com/css/voltec");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.cdnfonts.com/css/megaton");

@import "tailwindcss";

@theme {
  --color-background: #000d18;
  --color-navy: #010e13;
  --color-darkGreen: #001500;
  --color-neonOrange: #ff4d00;
  --color-solYellow: #ffd700;
  --color-textWhite: #ffffff;

  /* Font families */
  --font-atomos: "Atomos", sans-serif;
  --font-voltec: "Voltec", sans-serif;
  --font-press-start: "Press Start 2P", cursive;
  --font-megaton: "Megaton", sans-serif;
  --font-display: "Orbitron", sans-serif;
  --font-body: "Inter", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
